
.fundo{
    background-image: url("../img/holograma.jpg");
    background-color: rgb(204, 192, 192);
    background-blend-mode: multiply;
    background-size: contain;


   
}

.card-text{
    color: rgb(130, 33, 33);
}

.card-title{
    color:  rgb(44, 6, 79);
    font-size: 16px;
}

.jumbotron{
    background-color: rgb(254, 223, 253);
    padding-top: 100px;
    font-size: 16px;
    color: rgb(44, 6, 79);
    
}

.btn-light{
    color: rgb(111, 71, 19);
    background-color: rgb(255, 176, 229);
}

.flex-container {
    display: flex;
}

.foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
   
}

.navbar-dark{
    background-color: rgb(227, 95, 133);
    background-blend-mode: multiply;
    padding-top: 30px;
    padding-bottom: 30px;

}



.card{
   
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    width: 100px;
   
    
   

}
.ft{
    padding-top: 125px;
    width: 400px;
    height: 590px;
}
.rodape{
    background-color:rgb(249, 165, 244);
    padding-top: 30px;
    padding-bottom: 30px;
    
}
