
.fundo{
    background-image: url("../img/holograma.jpg");
    background-color: rgb(230, 230, 230);
    background-blend-mode: multiply;
    background-size: contain;
   
}



.jumbotron{
    background-color: rgb(250, 218, 249);
    padding-top: 100px;
    font-size: 16px;
    color: rgb(44, 6, 79);
    
}

.flex-container {
    display: flex;
}

.foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
   
}

.navbar-dark{
    background-color: rgb(227, 95, 133);
    background-blend-mode: multiply;
    padding-top: 30px;
    padding-bottom: 30px;

}

.card{
   
    background-color: rgb(255, 255, 255);
    width: 100px;
   
    
   

}
.ft{
    padding-top: 100px;
    width: 400px;
    height: 584px;
}
.rodape{
    background-color:rgb(249, 165, 244);
    padding-top: 30px;
    padding-bottom: 30px;
    
}
